<mat-card [class]="cardClass">
  <!-- Product card -->
  <mat-card-content *ngIf="data?.productType !== 'new'">
    <div class="default-column gap-20 justify-space-between">
      <div class="w100 default-row justify-end">
        <form *ngIf="form" [formGroup]="form">
          <mat-checkbox
            formControlName="checked"
            color="primary"
          ></mat-checkbox>
        </form>
      </div>
      <div class="w100 default-column gap-20">
        <div class="w100 default-column gap-10">
          <h4 class="product-name">
            {{ data.nameProduct }}
          </h4>
          <p class="product-number">#{{ data.numberProduct }}</p>
        </div>
        <mat-divider></mat-divider>
        <div class="w100 default-column gap-10">
          <h4>Ya cuentas con:</h4>
          <p class="product-balance">
            {{ data.balanceProduct | currency : "USD" : "symbol" : "1.0-0" }}
          </p>
        </div>
      </div>
      <div class="default-column gap-5 hint-zone justifu-center align-center">
        <img [src]="iconUrl" class="icon-img" />
        <p>
          {{ data.detaildProduct }}! Te recomendamos aportar
          <span class="important-text">{{
            388000 | currency : "USD" : "symbol" : "1.0-0"
          }}</span>
          mensuales para lograrlo en diciembre del 2022.
        </p>
      </div>
    </div>
  </mat-card-content>
  <!-- END Product card -->
  <!-- New product card -->
  <mat-card-content *ngIf="data?.productType === 'new'" class="new-product">
    <div class="new-card default-column gap-20 justify-space-between">
      <div class="default-row justify-end">
        <div class="recommended-label">Producto recomendado</div>
      </div>
      <h4>
        ¡Conoce nuevos productos de ahorro e inversión para
        <span class="important-text">Conocer sobrino</span>!
      </h4>
      <div>
        <button class="primary-button" (click)="showNewProductSection()">
          Explora ahora
        </button>
      </div>
    </div>
  </mat-card-content>
  <!-- END New product card -->
</mat-card>
