<mat-card class="w100">
  <mat-card-content>
    <div
      class="default-row justify-space-between align-end gap-10 lt-sm-column"
    >
      <!-- Contact Info -->
      <div
        class="contact-info-container w100 default-column gap-5 flex-5 lt-sm-align-center"
      >
        <img
          class="footer-logo icon-img"
          src="/assets/imgs/svgs/Group 123.svg"
          alt="Skandia"
          title="Skandia"
        />
        <p class="footer-text">© 2019 Skandia</p>
        <div>
          PBX:
          <span>
            <a class="footer-tel-link" href="tel:+576016584000">658 4000</a>
            /
            <a class="footer-tel-link" href="tel:+576014841300">484 1300</a>
          </span>
        </div>
        <div>
          Línea nacional:
          <span>
            <a class="footer-tel-link" href="tel:+57018000517526"
              >01 8000 517 526</a
            >
          </span>
        </div>
        <div>
          Línea corporativa:
          <span>
            <a class="footer-tel-link" href="tel:+576016584123">658 4123</a>
          </span>
        </div>
        <div>
          <a
            href="https://maps.app.goo.gl/HmvN8oaM3PtJa1ze8"
            target="_blank"
            rel="noopener noreferrer"
            style="text-decoration: none"
          >
            Av. 19 # 109A - 30
          </a>
        </div>
        <div>Bogotá D.C., Colombia</div>
        <div><strong>Oficinas a nivel nacional</strong></div>
      </div>
      <!-- END Contact Info -->
      <!-- Links -->
      <div
        class="links-container w100 default-column gap-5 flex-5 lt-sm-align-center"
      >
        <div *ngFor="let link of links">
          <a [href]="link?.url">{{ link?.name }}</a>
        </div>
      </div>
      <!-- END Links -->
      <!-- Social Media -->
      <div
        class="social-media-container w100 default-row justify-space-between align-end gap-20 lt-sm-justify-center flex-1 lt-sm-align-center"
      >
        <div *ngFor="let socialMedia of socialMediaLinks">
          <a [href]="socialMedia?.url" target="_blank">
            <img
              class="icon-img"
              [src]="socialMedia?.iconUrl"
              [alt]="socialMedia?.name"
              [title]="socialMedia?.name"
            />
          </a>
        </div>
      </div>
      <!-- END Social Media -->
    </div>
  </mat-card-content>
</mat-card>
