<div class="w100 default-column gap-20 bg-home">
  <div class="w100 default-column bg-banner">
    <div class="banner default-column justify-center align-center gap-20">
      <div class="w100">
        <a [routerLink]="['/home']" class="default-row gap-5 breadcrumb">
          <img
            class="icon-img"
            src="/assets/imgs/svgs/home-2.svg"
            alt="Inicio"
            title="Inicio"
          />
          Ir al inicio
        </a>
      </div>
      <div
        class="default-column justify-center align-center gap-10 title-description"
      >
        <h1 class="title">¡Tu objetivo ha sido agregado exitosamente!</h1>
        <p class="description">
          ¡Te hemos enviado un correo con la notificación!
        </p>
      </div>
    </div>
  </div>
  <mat-card class="objetive-card">
    <mat-card-content>
      <div class="default-column gap-20 justify-start card-content">
        <!-- Objetive and review -->
        <div
          class="default-row lt-sm-column justify-space-between align-start gap-10"
        >
          <div class="default-column gap-5">
            <h2 class="objetive">Conocer mi sobrino</h2>
            <p class="objetive-category">Categoría: Bienestar</p>
          </div>
          <div class="default-column gap-10">
            <a href="#" class="review-objetive"> Revisar objetivo </a>
          </div>
        </div>
        <!-- END Objetive and review -->
        <!-- Objetive details -->
        <div
          class="default-row gap-20 lt-sm-column justify-space-evenly align-center"
        >
          <div class="default-column align-center gap-10 objetive-detail">
            <div class="label">En esta fecha:</div>
            <div class="value date">Diciembre/2022</div>
          </div>
          <div class="default-column align-center gap-10 objetive-detail">
            <div class="label">Lograrás:</div>
            <div class="value goal">
              {{ 6000000 | currency : "USD" : "symbol" : "1.0-0" }}
            </div>
          </div>
          <div class="default-column align-center gap-10 objetive-detail">
            <div class="label">
              <img src="/assets/imgs/svgs/Icon awesome-star.svg" />
              Ya cuentas con:
            </div>
            <div class="value progress">
              {{ 0 | currency : "USD" : "symbol" : "1.0-0" }}
            </div>
          </div>
        </div>
        <!-- END Objetive details -->
        <!-- Auxiliar Link -->
        <div class="default-row gap-10">
          <a href="#" class="default-row lt-sm-column gap-5 align-center">
            <mat-icon>check_circle</mat-icon>
            ¡Asocia productos para monitorear su progreso!
          </a>
        </div>
        <!-- END Auxiliar Link -->
      </div>
    </mat-card-content>
  </mat-card>
  <!-- Carousel section -->
  <div
    class="objetives-section default-column gap-20 align-center justify-center"
  >
    <!-- Text Section -->
    <h2>
      ¡Vamos por esos
      <span class="important-text">
        {{ 6000000 | currency : "USD" : "symbol" : "1.0-0" }}
      </span>
      para <span class="important-text">Conocer mi sobrino</span>!
    </h2>
    <div class="default-column gap-5 align-center justify-center">
      <p>
        ¡A través de tus productos y nuestros rendimientos podremos lograrlo!
      </p>
      <div class="default-row gap-5 align-center justify-center lt-sm-column">
        <strong> Asocia tus productos o adquiere uno nuevo. </strong>
        <img src="/assets/imgs/svgs/question.svg" alt="Ayuda" title="Ayuda" />
      </div>
    </div>
    <!-- END Text Section -->
    <!-- Products -->
    <div class="w100 default-row gap-20 align-center">
      <owl-carousel-o [options]="customOptions" class="w100">
        <ng-template
          carouselSlide
          class="w100"
          *ngFor="let product of products; let i = index"
          [id]="product.balanceProduct"
        >
          <app-card [data]="product" (change)="cardChange($event, i)">
          </app-card>
        </ng-template>
      </owl-carousel-o>
    </div>
    <!-- END Products -->
    <!-- Associate Button -->
    <div class="default-row justify-center align-center">
      <button class="primary-button" [disabled]="isAsociarButtonDisabled()">
        Asociar a objetivo
      </button>
    </div>
    <!-- END Associate Button -->
  </div>
  <!-- END Carousel section -->
  <!-- New product section -->
  <app-new-product-section *ngIf="showNewProduct"></app-new-product-section>
  <!-- END New product section -->
</div>
