@import '../../../variables.scss';

.bg-home {
  background: url("/assets/imgs/pngs/iStock-480003814.png");
  background-position: 0% 15%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.bg-banner {
  background: linear-gradient(rgba(63, 63, 63, 0), rgba(112, 112, 112, 0.35)),
    url("/assets/imgs/jpgs/pexels-eberhardgross-2347011.jpg");
  background-position: 0% 15%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  transition: all 0.5s ease;
}

.banner {
  padding: 2rem 10rem;
  @media screen and (max-width: 1279px) {
    padding: 2rem 2rem;
  }
  .breadcrumb {
    color: $white;
    font-weight: 500;
    width: max-content;
  }
  .title-description {
    text-align: center;
    .title {
      color: $white;
      margin: 0;
      font-weight: bold;
      font-size: 25px;
    }
    .description {
      color: $white;
      font-size: 16px;
      margin: 0;
    }
  }
}

.objetive-card {
  margin: auto;
  position: relative;
  top: -120px;
  width: 40vw;

  @media screen and (max-width: 1279px) {
    width: 80vw;
  }
  @media screen and (max-width: 599px) {
    top: -100px;
  }
  @media screen and (max-width: 479px) {
    top: -80px;
  }
  @media screen and (max-width: 445px) {
    top: -60px;
  }

  mat-card-content {
    padding: 0px;
  }

  .card-content {
    padding: 20px;
    height: 200px;
    background-image: url("/assets/imgs/pngs/objetive-card-bg.png");
    background-size: auto 100px;
    background-repeat: no-repeat;
    background-position: bottom right;

    @media screen and (max-width: 1279px) {
      height: 100%;
    }
  }

  .objetive,
  .objetive-category {
    margin: 0;
  }

  .objetive {
    font-size: 18px;
  }

  .objetive-category {
    font-size: 12px;
  }

  .objetive-detail {
    font-size: 14px;
    text-align: center;

    .value {
      border-radius: 4px;
      font-weight: bold;
      padding: 5px;
      min-width: 130px;
    }

    .date {
      background-color: $light-blue;
    }

    .goal {
      background-color: $light-orange;
    }

    .progress {
      background-color: $light-green;
    }
  }
}

.objetives-section {
  position: relative;
  top: -120px;
  padding: 2rem 10rem;
  margin-bottom: -120px;

  @media screen and (max-width: 1279px) {
    padding: 2rem 1rem;
  }
  @media screen and (max-width: 599px) {
    top: -100px;
    margin-bottom: -60px;
  }
  @media screen and (max-width: 479px) {
    top: -80px;
  }
  @media screen and (max-width: 445px) {
    top: -60px;
  }

  h2,
  p {
    margin: 0;
    text-align: center;
  }

  .cards-container {
    overflow-x: visible;
    width: 100%;
    scroll-snap-type: x mandatory;
    transition: all 0.5s ease;
  }
}

::ng-deep .owl-carousel .owl-stage {
  display: flex !important;
  flex-direction: row !important;
  padding: 5px;
}

::ng-deep .owl-nav {
  position: absolute;
  bottom: 50%;
  width: 100%;
  justify-content: space-between;
  display: flex;

  .owl-prev,
  .owl-next {
    position: absolute;
    background-color: $green !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    border-radius: 50% !important;
    font-size: 30px !important;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    justify-content: center;
    align-items: center;
  }

  .owl-prev {
    left: -50px;
  }
  .owl-next {
    right: -50px;
  }

  @media screen and (max-width: 1279px) {
    .owl-prev,
    .owl-next {
      display: none !important;
    }
  }
}
