.bg-banner {
  background: linear-gradient(rgba(63, 63, 63, 0), rgba(112, 112, 112, 0.35)),
    url("../../../assets/imgs/jpgs/pexels-eberhardgross-2347011.jpg");
  background-position: 0% 15%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  transition: all 0.5s ease;

  @media screen and (max-width: 866px) {
    height: 290px;
  }
  @media screen and (max-width: 714px) {
    height: 300px;
  }
  @media screen and (max-width: 641px) {
    height: 320px;
  }
  @media screen and (max-width: 552px) {
    height: 340px;
  }
  @media screen and (max-width: 599px) {
    height: 350px;
  }
  @media screen and (max-width: 479px) {
    height: 360px;
  }
  @media screen and (max-width: 445px) {
    height: 380px;
  }
}

.banner {
  padding: 2rem 10rem;
  .breadcrumb {
    color: #ffffff;
    font-weight: 500;
  }
  .title-description {
    text-align: center;
    .title {
      color: #ffffff;
      margin: 0;
      font-weight: bold;
      font-size: 25px;
    }
    .description {
      color: #ffffff;
      font-size: 16px;
      margin: 0;
    }
  }
}

.objetive-card {
  margin: auto;
  position: relative;
  top: -120px;
  width: 40vw;

  @media screen and (max-width: 1279px) {
    width: 80vw;
  }

  mat-card-content {
    padding: 0px;
  }

  .card-content {
    padding: 20px;
    height: 200px;
    background-image: url("../../../assets/imgs/pngs/objetive-card-bg.png");
    background-size: auto 100px;
    background-repeat: no-repeat;
    background-position: bottom right;

    @media screen and (max-width: 1279px) {
      height: 100%;
    }
  }

  .objetive,
  .objetive-category {
    margin: 0;
  }

  .objetive {
    font-size: 18px;
  }

  .objetive-category {
    font-size: 12px;
  }

  .objetive-detail {
    font-size: 14px;
    text-align: center;

    .value {
      border-radius: 4px;
      font-weight: bold;
      padding: 5px;
      min-width: 130px;
    }

    .date {
      background-color: #a5d7e1;
    }

    .goal {
      background-color: #fecd72;
    }

    .progress {
      background-color: #95dbb7;
    }
  }
}

.objetives-section {
  position: relative;
  top: -140px;
  padding: 2rem 10rem;
  padding-bottom: 0px;
  margin-bottom: -120px;

  @media screen and (max-width: 1279px) {
    padding: 2rem 1rem;
  }

  h2,
  p {
    margin: 0;
    text-align: center;
  }

  .cards-container {
    overflow-x: visible;
    width: 100%;
    scroll-snap-type: x mandatory;
    transition: all 0.5s ease;
  }

  .slider-button {
    position: absolute;
    background-color: #00c83c;

    mat-icon {
      color: #ffffff;
    }

    &.prev-slider-button {
      left: 30px;
      z-index: 999;
      transform: rotate(180deg);
    }

    &.next-slider-button {
      right: 30px;
      z-index: 999;
    }
  }
}
