// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$skandia-primary: mat.define-palette(mat.$indigo-palette);
$skandia-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$skandia-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$skandia-theme: mat.define-light-theme(
  (
    color: (
      primary: $skandia-primary,
      accent: $skandia-accent,
      warn: $skandia-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($skandia-theme);
@import "variables";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  color: $dark-gray;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Monserrat", sans-serif !important;
}

p {
  font-family: "Verdana", sans-serif !important;
}

.default-row {
  flex-direction: row;
  display: flex;
}

.default-column {
  flex-direction: column;
  display: flex;
}

// Reemplaza fxLayoutAlign horizontal
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

// Reemplaza fxLayoutAlign vertical
.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

// Reemplaza fxLayoutGap
.gap-3 {
  gap: 4px;
}
.gap-4 {
  gap: 4px;
}
.gap-5 {
  gap: 5px;
}
.gap-8 {
  gap: 8px;
}
.gap-10 {
  gap: 10px;
}
.gap-12 {
  gap: 12px;
}
.gap-15 {
  gap: 15px;
}
.gap-16 {
  gap: 16px;
}
.gap-20 {
  gap: 20px;
}

/* xs */
@media screen and (max-width: 599px) {
  .xs-row {
    flex-direction: row;
    display: flex;
  }

  .xs-column {
    flex-direction: column;
    display: flex;
  }

  .xs-justify-start {
    justify-content: flex-start;
  }

  .xs-justify-center {
    justify-content: center;
  }

  .xs-justify-end {
    justify-content: flex-end;
  }

  .xs-justify-space-between {
    justify-content: space-between;
  }

  .xs-justify-space-around {
    justify-content: space-around;
  }

  .xs-justify-space-evenly {
    justify-content: space-evenly;
  }

  .xs-align-start {
    align-items: flex-start;
  }

  .xs-align-center {
    align-items: center;
  }

  .xs-align-end {
    align-items: flex-end;
  }
  .xs-gap-0 {
    gap: 0px;
  }
  .xs-gap-4 {
    gap: 4px;
  }
  .xs-gap-5 {
    gap: 5px;
  }
  .xs-gap-8 {
    gap: 8px;
  }
  .xs-gap-10 {
    gap: 10px;
  }
  .xs-gap-12 {
    gap: 12px;
  }
  .xs-gap-16 {
    gap: 16px;
  }
  .xs-gap-20 {
    gap: 20px;
  }
}

/* sm */
@media screen and (min-width: 600px) and (max-width: 959px) {
  .sm-row {
    flex-direction: row;
    display: flex;
  }

  .sm-column {
    flex-direction: column;
    display: flex;
  }

  .sm-justify-start {
    justify-content: flex-start;
  }

  .sm-justify-center {
    justify-content: center;
  }

  .sm-justify-end {
    justify-content: flex-end;
  }

  .sm-justify-space-between {
    justify-content: space-between;
  }

  .sm-justify-space-around {
    justify-content: space-around;
  }

  .sm-justify-space-evenly {
    justify-content: space-evenly;
  }

  .sm-align-start {
    align-items: flex-start;
  }

  .sm-align-center {
    align-items: center;
  }

  .sm-align-end {
    align-items: flex-end;
  }

  .sm-gap-4 {
    gap: 4px;
  }
  .sm-gap-5 {
    gap: 5px;
  }
  .sm-gap-8 {
    gap: 8px;
  }
  .sm-gap-10 {
    gap: 10px;
  }
  .sm-gap-12 {
    gap: 12px;
  }
  .sm-gap-16 {
    gap: 16px;
  }
  .sm-gap-20 {
    gap: 20px;
  }
}

/* md */
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .md-row {
    flex-direction: row;
    display: flex;
  }

  .md-column {
    flex-direction: column;
    display: flex;
  }

  .md-justify-start {
    justify-content: flex-start;
  }

  .md-justify-center {
    justify-content: center;
  }

  .md-justify-end {
    justify-content: flex-end;
  }

  .md-justify-space-between {
    justify-content: space-between;
  }

  .md-justify-space-around {
    justify-content: space-around;
  }

  .md-justify-space-evenly {
    justify-content: space-evenly;
  }

  .md-align-start {
    align-items: flex-start;
  }

  .md-align-center {
    align-items: center;
  }

  .md-align-end {
    align-items: flex-end;
  }

  .md-gap-4 {
    gap: 4px;
  }
  .md-gap-5 {
    gap: 5px;
  }
  .md-gap-8 {
    gap: 8px;
  }
  .md-gap-10 {
    gap: 10px;
  }
  .md-gap-12 {
    gap: 12px;
  }
  .md-gap-16 {
    gap: 16px;
  }
  .md-gap-20 {
    gap: 20px;
  }
}

/* lg */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .lg-row {
    flex-direction: row;
    display: flex;
  }

  .lg-column {
    flex-direction: column;
    display: flex;
  }

  .lg-justify-start {
    justify-content: flex-start;
  }

  .lg-justify-center {
    justify-content: center;
  }

  .lg-justify-end {
    justify-content: flex-end;
  }

  .lg-justify-space-between {
    justify-content: space-between;
  }

  .lg-justify-space-around {
    justify-content: space-around;
  }

  .lg-justify-space-evenly {
    justify-content: space-evenly;
  }

  .lg-align-start {
    align-items: flex-start;
  }

  .lg-align-center {
    align-items: center;
  }

  .lg-align-end {
    align-items: flex-end;
  }

  .lg-gap-4 {
    gap: 4px;
  }
  .lg-gap-5 {
    gap: 5px;
  }
  .lg-gap-8 {
    gap: 8px;
  }
  .lg-gap-10 {
    gap: 10px;
  }
  .lg-gap-12 {
    gap: 12px;
  }
  .lg-gap-16 {
    gap: 16px;
  }
  .lg-gap-20 {
    gap: 20px;
  }
}

/* xl */
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .xl-row {
    flex-direction: row;
    display: flex;
  }

  .xl-column {
    flex-direction: column;
    display: flex;
  }

  .xl-justify-start {
    justify-content: flex-start;
  }

  .xl-justify-center {
    justify-content: center;
  }

  .xl-justify-end {
    justify-content: flex-end;
  }

  .xl-justify-space-between {
    justify-content: space-between;
  }

  .xl-justify-space-around {
    justify-content: space-around;
  }

  .xl-justify-space-evenly {
    justify-content: space-evenly;
  }

  .xl-align-start {
    align-items: flex-start;
  }

  .xl-align-center {
    align-items: center;
  }

  .xl-align-end {
    align-items: flex-end;
  }

  .xl-gap-4 {
    gap: 4px;
  }
  .xl-gap-5 {
    gap: 5px;
  }
  .xl-gap-8 {
    gap: 8px;
  }
  .xl-gap-10 {
    gap: 10px;
  }
  .xl-gap-12 {
    gap: 12px;
  }
  .xl-gap-16 {
    gap: 16px;
  }
  .xl-gap-20 {
    gap: 20px;
  }
}

/* lt-sm */
@media screen and (max-width: 599px) {
  .lt-sm-row {
    flex-direction: row;
    display: flex;
  }

  .lt-sm-column {
    flex-direction: column;
    display: flex;
  }

  .lt-sm-justify-start {
    justify-content: flex-start;
  }

  .lt-sm-justify-center {
    justify-content: center;
  }

  .lt-sm-justify-end {
    justify-content: flex-end;
  }

  .lt-sm-justify-space-between {
    justify-content: space-between;
  }

  .lt-sm-justify-space-around {
    justify-content: space-around;
  }

  .lt-sm-justify-space-evenly {
    justify-content: space-evenly;
  }

  .lt-sm-align-start {
    align-items: flex-start;
  }

  .lt-sm-align-center {
    align-items: center;
  }

  .lt-sm-align-end {
    align-items: flex-end;
  }

  .lt-sm-gap-4 {
    gap: 4px;
  }
  .lt-sm-gap-5 {
    gap: 5px;
  }
  .lt-sm-gap-8 {
    gap: 8px;
  }
  .lt-sm-gap-10 {
    gap: 10px;
  }
  .lt-sm-gap-12 {
    gap: 12px;
  }
  .lt-sm-gap-16 {
    gap: 16px;
  }
  .lt-sm-gap-20 {
    gap: 20px;
  }
  .lt-sm-hide {
    display: none;
  }
}

/* lt-md */
@media screen and (max-width: 959px) {
  .lt-md-row {
    flex-direction: row;
    display: flex;
  }

  .lt-md-column {
    flex-direction: column;
    display: flex;
  }

  .lt-md-justify-start {
    justify-content: flex-start;
  }

  .lt-md-justify-center {
    justify-content: center;
  }

  .lt-md-justify-end {
    justify-content: flex-end;
  }

  .lt-md-justify-space-between {
    justify-content: space-between;
  }

  .lt-md-justify-space-around {
    justify-content: space-around;
  }

  .lt-md-justify-space-evenly {
    justify-content: space-evenly;
  }

  .lt-md-align-start {
    align-items: flex-start;
  }

  .lt-md-align-center {
    align-items: center;
  }

  .lt-md-align-end {
    align-items: flex-end;
  }

  .lt-md-gap-4 {
    gap: 4px;
  }
  .lt-md-gap-5 {
    gap: 5px;
  }
  .lt-md-gap-8 {
    gap: 8px;
  }
  .lt-md-gap-10 {
    gap: 10px;
  }
  .lt-md-gap-12 {
    gap: 12px;
  }
  .lt-md-gap-16 {
    gap: 16px;
  }
  .lt-md-gap-20 {
    gap: 20px;
  }
  .lt-md-hide {
    display: none;
  }
}

/* lt-lg */
@media screen and (max-width: 1279px) {
  .lt-lg-row {
    flex-direction: row;
    display: flex;
  }

  .lt-lg-column {
    flex-direction: column;
    display: flex;
  }

  .lt-lg-justify-start {
    justify-content: flex-start;
  }

  .lt-lg-justify-center {
    justify-content: center;
  }

  .lt-lg-justify-end {
    justify-content: flex-end;
  }

  .lt-lg-justify-space-between {
    justify-content: space-between;
  }

  .lt-lg-justify-space-around {
    justify-content: space-around;
  }

  .lt-lg-justify-space-evenly {
    justify-content: space-evenly;
  }

  .lt-lg-align-start {
    align-items: flex-start;
  }

  .lt-lg-align-center {
    align-items: center;
  }

  .lt-lg-align-end {
    align-items: flex-end;
  }

  .lt-lg-gap-4 {
    gap: 4px;
  }
  .lt-lg-gap-5 {
    gap: 5px;
  }
  .lt-lg-gap-8 {
    gap: 8px;
  }
  .lt-lg-gap-10 {
    gap: 10px;
  }
  .lt-lg-gap-12 {
    gap: 12px;
  }
  .lt-lg-gap-16 {
    gap: 16px;
  }
  .lt-lg-gap-20 {
    gap: 20px;
  }
  .lt-lg-hide {
    display: none;
  }
}

/* lt-xl */
@media screen and (max-width: 1919px) {
  .lt-xl-row {
    flex-direction: row;
    display: flex;
  }

  .lt-xl-column {
    flex-direction: column;
    display: flex;
  }

  .lt-xl-justify-start {
    justify-content: flex-start;
  }

  .lt-xl-justify-center {
    justify-content: center;
  }

  .lt-xl-justify-end {
    justify-content: flex-end;
  }

  .lt-xl-justify-space-between {
    justify-content: space-between;
  }

  .lt-xl-justify-space-around {
    justify-content: space-around;
  }

  .lt-xl-justify-space-evenly {
    justify-content: space-evenly;
  }

  .lt-xl-align-start {
    align-items: flex-start;
  }

  .lt-xl-align-center {
    align-items: center;
  }

  .lt-xl-align-end {
    align-items: flex-end;
  }

  .lt-xl-gap-4 {
    gap: 4px;
  }
  .lt-xl-gap-5 {
    gap: 5px;
  }
  .lt-xl-gap-8 {
    gap: 8px;
  }
  .lt-xl-gap-10 {
    gap: 10px;
  }
  .lt-xl-gap-12 {
    gap: 12px;
  }
  .lt-xl-gap-16 {
    gap: 16px;
  }
  .lt-xl-gap-20 {
    gap: 20px;
  }
  .lt-xl-gap-30 {
    gap: 30px;
  }
  .lt-xl-hide {
    display: none;
  }
}

/* gt-xs */
@media screen and (min-width: 600px) {
  .gt-xs-row {
    flex-direction: row;
    display: flex;
  }

  .gt-xs-column {
    flex-direction: column;
    display: flex;
  }

  .gt-xs-justify-start {
    justify-content: flex-start;
  }

  .gt-xs-justify-center {
    justify-content: center;
  }

  .gt-xs-justify-end {
    justify-content: flex-end;
  }

  .gt-xs-justify-space-between {
    justify-content: space-between;
  }

  .gt-xs-justify-space-around {
    justify-content: space-around;
  }

  .gt-xs-justify-space-evenly {
    justify-content: space-evenly;
  }

  .gt-xs-align-start {
    align-items: flex-start;
  }

  .gt-xs-align-center {
    align-items: center;
  }

  .gt-xs-align-end {
    align-items: flex-end;
  }

  .gt-xs-gap-4 {
    gap: 4px;
  }
  .gt-xs-gap-5 {
    gap: 5px;
  }
  .gt-xs-gap-8 {
    gap: 8px;
  }
  .gt-xs-gap-10 {
    gap: 10px;
  }
  .gt-xs-gap-12 {
    gap: 12px;
  }
  .gt-xs-gap-16 {
    gap: 16px;
  }
  .gt-xs-gap-20 {
    gap: 20px;
  }
}

/* gt-sm */
@media screen and (min-width: 960px) {
  .gt-sm-row {
    flex-direction: row;
    display: flex;
  }

  .gt-sm-column {
    flex-direction: column;
    display: flex;
  }

  .gt-sm-justify-start {
    justify-content: flex-start;
  }

  .gt-sm-justify-center {
    justify-content: center;
  }

  .gt-sm-justify-end {
    justify-content: flex-end;
  }

  .gt-sm-justify-space-between {
    justify-content: space-between;
  }

  .gt-sm-justify-space-around {
    justify-content: space-around;
  }

  .gt-sm-justify-space-evenly {
    justify-content: space-evenly;
  }

  .gt-sm-align-start {
    align-items: flex-start;
  }

  .gt-sm-align-center {
    align-items: center;
  }

  .gt-sm-align-end {
    align-items: flex-end;
  }

  .gt-sm-gap-4 {
    gap: 4px;
  }
  .gt-sm-gap-5 {
    gap: 5px;
  }
  .gt-sm-gap-8 {
    gap: 8px;
  }
  .gt-sm-gap-10 {
    gap: 10px;
  }
  .gt-sm-gap-12 {
    gap: 12px;
  }
  .gt-sm-gap-16 {
    gap: 16px;
  }
  .gt-sm-gap-20 {
    gap: 20px;
  }
  .gt-sm-hide {
    display: none;
  }
}

/* gt-md */
@media screen and (min-width: 1280px) {
  .gt-md-row {
    flex-direction: row;
    display: flex;
  }

  .gt-md-column {
    flex-direction: column;
    display: flex;
  }

  .gt-md-justify-start {
    justify-content: flex-start;
  }

  .gt-md-justify-center {
    justify-content: center;
  }

  .gt-md-justify-end {
    justify-content: flex-end;
  }

  .gt-md-justify-space-between {
    justify-content: space-between;
  }

  .gt-md-justify-space-around {
    justify-content: space-around;
  }

  .gt-md-justify-space-evenly {
    justify-content: space-evenly;
  }

  .gt-md-align-start {
    align-items: flex-start;
  }

  .gt-md-align-center {
    align-items: center;
  }

  .gt-md-align-end {
    align-items: flex-end;
  }

  .gt-md-gap-4 {
    gap: 4px;
  }
  .gt-md-gap-5 {
    gap: 5px;
  }
  .gt-md-gap-8 {
    gap: 8px;
  }
  .gt-md-gap-10 {
    gap: 10px;
  }
  .gt-md-gap-12 {
    gap: 12px;
  }
  .gt-md-gap-16 {
    gap: 16px;
  }
  .gt-md-gap-20 {
    gap: 20px;
  }
  .gt-md-hide {
    display: none;
  }
}

/* gt-lg */
@media screen and (min-width: 1920px) {
  .gt-lg-row {
    flex-direction: row;
    display: flex;
  }

  .gt-lg-column {
    flex-direction: column;
    display: flex;
  }

  .gt-lg-justify-start {
    justify-content: flex-start;
  }

  .gt-lg-justify-center {
    justify-content: center;
  }

  .gt-lg-justify-end {
    justify-content: flex-end;
  }

  .gt-lg-justify-space-between {
    justify-content: space-between;
  }

  .gt-lg-justify-space-around {
    justify-content: space-around;
  }

  .gt-lg-justify-space-evenly {
    justify-content: space-evenly;
  }

  .gt-lg-align-start {
    align-items: flex-start;
  }

  .gt-lg-align-center {
    align-items: center;
  }

  .gt-lg-align-end {
    align-items: flex-end;
  }

  .gt-lg-gap-4 {
    gap: 4px;
  }
  .gt-lg-gap-5 {
    gap: 5px;
  }
  .gt-lg-gap-8 {
    gap: 8px;
  }
  .gt-lg-gap-10 {
    gap: 10px;
  }
  .gt-lg-gap-12 {
    gap: 12px;
  }
  .gt-lg-gap-16 {
    gap: 16px;
  }
  .gt-lg-gap-20 {
    gap: 20px;
  }
  .gt-lg-gap-150 {
    gap: 150px;
  }
  .gt-lg-hide {
    display: none;
  }
}

.w100 {
  width: 100% !important;
}

.h100 {
  height: 100% !important;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.p-0 {
  padding: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

a {
  color: $green;
  text-decoration: underline;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-size: 14px;

  &:hover {
    color: $orange;
  }
}

.important-text {
  color: $orange;
}

.primary-button {
  border-radius: 25px;
  background-color: $green;
  border: 1px solid $green;
  width: 260px;
  height: 50px;
  padding: 10px;
  color: $white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease;

  &:hover {
    background-color: $white;
    color: $green;
    text-decoration: underline;
  }

  &:disabled {
    border: 1px solid $light-gray-2;
    text-decoration: none;
    background-color: $light-gray-2;
    color: $dark-gray;
    cursor: default;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
  background-color: $light-green;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $light-green-2;
}
