$white: #ffffff;
$green: #00c83c;
$orange: #fe9200;
$blue: #63aabc;
$gray: #c4c7c4;
$light-green: #95dbb7;
$light-green-2: #a4d071;
$light-orange: #fecd72;
$light-blue: #a5d7e1;
$light-gray: #00000029;
$light-gray-2: #e2e2e2;
$light-gray-3: #ededed;
$light-black: #363636;
$dark-orange: #ff9460;
$dark-gray: #3f3f3f;
