@import "../../../variables.scss";

mat-toolbar {
  border-bottom: 1px solid $light-gray-2;
}

mat-divider {
  width: 2px;
  height: 28px;
  background-color: $dark-gray;

  @media screen and (max-width: 599px) {
    display: none;
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: max-content;
}

mat-icon {
  color: $green;
}

.navbar-container {
  padding: 20px 130px;
  @media screen and (max-width: 1279px) {
    padding: 20px;
  }
}

.title {
  font-size: 18px;
}

.icon-and-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon-with-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;

  img {
    width: 32px;
    height: 32px;
    &:hover {
      filter: brightness(0.8);
    }
  }

  a {
    display: none;
  }

  &:hover {
    a {
      display: inline;
    }
  }
}

mat-drawer {
  background-color: $light-gray-2;

  mat-nav-list,
  mat-list-item {
    border-radius: 0;
  }

  .menu-item {
    height: 50px;
    padding: 0px 15px;
    transition: all 0.1s ease 0s;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    img {
      width: 16px;
      height: auto;
      filter: brightness(0) saturate(100%) invert(63%) sepia(31%)
        saturate(7371%) hue-rotate(100deg) brightness(99%) contrast(102%);
    }
    span {
      width: 180px;
    }
  }

  .selected-item {
    height: 50px;
    padding: 0px 15px;
    transition: all 0.1s ease 0s;
    background-color: $green;
    color: $white;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    img {
      width: 16px;
      height: auto;
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%)
        hue-rotate(260deg) brightness(101%) contrast(101%);
    }
    span {
      width: 180px;
      color: $white;
    }
  }
}

.toggle-dark-mode {
  color: $dark-gray;
}

::ng-deep .mat-mdc-menu-panel {
  width: 200px;
}
