<mat-toolbar>
  <div class="w100 default-row justify-space-between align-center gap-20">
    <button mat-icon-button (click)="sidenavExpanded = !sidenavExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="w100 default-row navbar-container">
      <!-- Logo and Slogan -->
      <div class="default-row gap-10 align-center justify-start flex-1">
        <img src="/assets/imgs/svgs/Group 123.svg" alt="" />
        <mat-divider></mat-divider>
        <h2 class="title lt-sm-hide">Plan Financiero Digital - FPX</h2>
      </div>
      <!-- END Logo and Slogan -->
      <!-- Links and PQRS -->
      <div
        class="default-row gap-10 align-center justify-end flex-1 lt-md-hide"
      >
        <div class="icon-and-link">
          <img
            src="/assets/imgs/svgs/Happy.svg"
            alt="Tu Financial Planner"
            title="Tu Financial Planner"
          />
          <a href="#">Tu Financial Planner</a>
        </div>
        <div class="icon-and-link">
          <img
            src="/assets/imgs/svgs/hand3.svg"
            alt="Aportes"
            title="Aportes"
          />
          <a href="#">Aportes</a>
        </div>
        <div class="icon-with-link">
          <img
            src="/assets/imgs/svgs/comp faq.svg"
            alt="Preguntas frecuentes"
            title="Preguntas frecuentes"
          />
          <a href="#">Preguntas frecuentes</a>
        </div>
      </div>
      <!-- END Links and PQRS -->
      <!-- [Responsive] Links and PQRS -->
      <div
        class="default-row gap-10 align-center justify-end flex-1 gt-sm-hide"
      >
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="gt-sm-hide">
          <div class="default-column gap-10 w100 justify-start align-center">
            <div class="icon-and-link">
              <img
                src="/assets/imgs/svgs/Happy.svg"
                alt="Tu Financial Planner"
                title="Tu Financial Planner"
              />
              <a href="#">Tu Financial Planner</a>
            </div>
            <div class="icon-and-link">
              <img
                src="/assets/imgs/svgs/hand3.svg"
                alt="Aportes"
                title="Aportes"
              />
              <a href="#">Aportes</a>
            </div>
            <div class="icon-with-link">
              <img
                src="/assets/imgs/svgs/comp faq.svg"
                alt="Preguntas frecuentes"
                title="Preguntas frecuentes"
              />
              <a href="#">Preguntas frecuentes</a>
            </div>
          </div>
        </mat-menu>
      </div>
      <!-- END [Responsive] Links and PQRS -->
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container autosize hasBackdrop="false">
  <mat-drawer
    #drawer
    hasBackdrop="false"
    mode="over"
    [opened]="true"
    [style.width.px]="sidenavExpanded ? 200 : 50"
  >
    <mat-nav-list class="p-0">
      <mat-list-item *ngFor="let menuItem of menuItems" class="h100 p-0">
        <div
          class="default-row gap-10 justify-center align-center"
          [ngClass]="{
            'selected-item': selectedMenuItem?.id === menuItem?.id,
            'menu-item': selectedMenuItem?.id !== menuItem?.id
          }"
          (click)="navigateTo(menuItem)"
        >
          <img
            [src]="menuItem.iconUrl"
            [alt]="menuItem.title"
            [title]="menuItem.title"
          />
          <span mat-line *ngIf="sidenavExpanded">{{ menuItem.title }}</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <div style="position: relative; left: 50px; margin-right: 50px">
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
