<mat-toolbar class="p-0">
  <div class="w100 default-row justify-space-between align-center gap-20">
    <button mat-icon-button (click)="sidenavExpanded = !sidenavExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="w100 default-row navbar-container">
      <!-- Logo and Slogan -->
      <div class="default-row gap-10 align-center justify-start flex-1">
        <img
          class="icon-img"
          src="/skandia_test/assets/imgs/svgs/Group 123.svg"
          alt="Logo"
          title="Logo"
        />
        <mat-divider></mat-divider>
        <h2 class="title lt-sm-hide">Plan Financiero Digital - FPX</h2>
      </div>
      <!-- END Logo and Slogan -->
      <!-- Links and PQRS -->
      <div
        class="default-row gap-10 align-center justify-end flex-1 lt-md-hide"
      >
        <div class="icon-and-link">
          <img
            class="icon-img"
            src="/skandia_test/assets/imgs/svgs/Happy.svg"
            alt="Tu Financial Planner"
            title="Tu Financial Planner"
          />
          <a href="#">Tu Financial Planner</a>
        </div>
        <div class="icon-and-link">
          <img
            class="icon-img"
            src="/skandia_test/assets/imgs/svgs/hand3.svg"
            alt="Aportes"
            title="Aportes"
          />
          <a href="#">Aportes</a>
        </div>
        <div class="icon-with-link">
          <img
            src="/skandia_test/assets/imgs/svgs/comp faq.svg"
            alt="Preguntas frecuentes"
            title="Preguntas frecuentes"
          />
          <a href="#">Preguntas frecuentes</a>
        </div>
        <div class="default-row justify-center align-center gap-5">
          <mat-icon class="toggle-dark-mode">dark_mode</mat-icon>
          <mat-slide-toggle [formControl]="toggleDarkTheme"></mat-slide-toggle>
        </div>
      </div>
      <!-- END Links and PQRS -->
      <!-- [Responsive] Links and PQRS -->
      <div
        class="default-row gap-10 align-center justify-end flex-1 gt-sm-hide"
      >
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="gt-sm-hide">
          <div class="default-column gap-10 w100 justify-start align-center">
            <div class="icon-and-link">
              <img
                src="/skandia_test/assets/imgs/svgs/Happy.svg"
                alt="Tu Financial Planner"
                title="Tu Financial Planner"
              />
              <a href="#">Tu Financial Planner</a>
            </div>
            <div class="icon-and-link">
              <img
                class="icon-img"
                src="/skandia_test/assets/imgs/svgs/hand3.svg"
                alt="Aportes"
                title="Aportes"
              />
              <a href="#">Aportes</a>
            </div>
            <div class="icon-with-link">
              <img
                src="/skandia_test/assets/imgs/svgs/comp faq.svg"
                alt="Preguntas frecuentes"
                title="Preguntas frecuentes"
              />
              <a href="#">Preguntas frecuentes</a>
            </div>
            <div class="default-row justify-center align-center gap-5">
              <mat-icon class="toggle-dark-mode">dark_mode</mat-icon>
              <mat-slide-toggle
                [formControl]="toggleDarkTheme"
              ></mat-slide-toggle>
            </div>
          </div>
        </mat-menu>
      </div>
      <!-- END [Responsive] Links and PQRS -->
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container autosize hasBackdrop="false" style="min-height: 60vh">
  <mat-drawer
    #drawer
    hasBackdrop="false"
    mode="over"
    [opened]="true"
    [style.width.px]="
      sizeDisplay === 'phone' && !sidenavExpanded
        ? 0
        : sidenavExpanded
        ? 200
        : 50
    "
  >
    <mat-nav-list class="p-0">
      <mat-list-item *ngFor="let menuItem of menuItems" class="h100 p-0">
        <a
          class="default-row gap-10 justify-center align-center menu-item"
          (click)="navigateTo(menuItem)"
          [routerLink]="[menuItem.route]"
          routerLinkActive="selected-item"
          (mouseenter)="sidenavExpanded = true"
          (mouseleave)="sidenavExpanded = false"
        >
          <img
            class="icon-img"
            [src]="menuItem.iconUrl"
            [alt]="menuItem.title"
            [title]="menuItem.title"
          />
          <span mat-line *ngIf="sidenavExpanded">{{ menuItem.title }}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <div
    style="position: relative"
    [style.left]="sizeDisplay === 'phone' ? '0' : '50px'"
    [style.marginRight]="sizeDisplay === 'phone' ? '0' : '50px'"
  >
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
